<h1>Welcome to Review Demo</h1>
<p>This is one of the sample applications for <%= link_to "Simply Web Design", "http://www.simplyweb.ie" %>, a platform that teaches people to build awsome 
custom websites with the ruby on rails programming language</p>
